.header {
    text-align: center;

}

.button {
    text-align: center;
}

.nav-1 {
    text-align: center;
}

.aside img {
    text-align: left;
}

.section {
    display: flex;
}

.section-1 {

}


.nav-2 {
    text-align: center;
}

.horiseon {

}

.section-2 {

}

.footer p {
    text-align: center;
    
}

.contactlinks {
    text-align: center;
}