:root {
    --primary:darksalmon;
    --secondary: indigo;
}
header {

    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 30px 10px 30px 0px; 
    align-items: center;


}

header h1 {
    background-color: var(--secondary);
    padding: 20px 30px 20px 40px;
    color: var(--primary);
}

nav {
    display: flex;
    flex-wrap: wrap;

}

nav a {
    color: var(--secondary);
    text-decoration: underline;
    font-size: 10px;
    margin: 5px;
}

.button {
    text-align: center;
}

.nav-1 {
    text-align: center;
}

.aside img {
    text-align: left;
}

.section {
    display: flex;
}

.section-1 {
    width: ;
    margin: ;
    border: ;

}


.nav-2 {
    text-align: center;
}

.horiseon {

}

.section-2 {
    width: ;
    margin: ;
    border: ;
}

.footer p {
    text-align: center;
    
}

.contactlinks {
    text-align: center;
}