/* Adds color to elements of choice without having to rename their ID */
:root {
    --primary:darksalmon;
    --secondary: indigo;
}

/* Adds header flexbox with styling */
header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 20px 10px 20px 0px; 
    align-items: center;
}

/* Makes header viewable in a different color on various electronic devices as dimensions change */
@media screen and (max-width: 992px) {
    header {
        background: royalblue;
    }
}

header h1 {
    background-color: var(--secondary);
    padding: 20px 30px 20px 40px;
    color: var(--primary);
    font-size: 30px;
}

/* Adds navigation bar flex box */
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    nav {
        background: green;
    }
}

/* Adds color and style to text on navigation bar */
nav a {
    color: var(--secondary);
    text-decoration: underline;
    font-size: 25px;
    margin: 30px;
}

/* Adds color to navigation links as cursor hovers over them */
nav a:hover {
    color: #000;
}

main {
    display: flex;
    flex-wrap: wrap;
}

/* Adds a background image to a flexbox on webpage */
.top-section {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    background-image: url(https://d2slcw3kip6qmk.cloudfront.net/marketing/techblog/how-to-plan-a-programming-competition-header@2x.png);
    padding: 100px 20px 20px 20px;
}

section h2 {
    background-color: var(--secondary);
    padding: 10px 15px 10px 20px;
    color: var(--primary);
    font-size: 35px;
    margin-right: 30px;   
}

.part-1  {
    display: flex;
    justify-content: space-around;
    padding: 20px 30px 25px 40px;
    background-color: gainsboro;
}

aside h3 {
    min-height: 50px;
    color: var(--secondary);
    border-right-style: solid;
    font-size: 40px;
    padding-right: 20px;
}

/* Controls arrangement of flexbox items as the dimensions change */
.about-me-flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

article img {
    min-height: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

@media screen and (max-width: 576px){
    article img
}

article p {
    min-height: 50px;
    color: var(--secondary);
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
    margin-left: 480px;
    margin-right: 480px;
}

/* Flex grow expands a flexbox if area is not fully covered as dimensions are changed */
.middle-section {
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-color: var(--primary);
    flex-grow: 1;
}

.middle-section h4 {
    font-size: 35px;
    color: var(--secondary);
    
}

.part-2 {
    display: flex;
    flex-grow: 1;
    justify-content:space-between;
    padding: 20px 30px 25px 40px;
    background-color: gainsboro;
}

aside h5 {
    min-height: 50px;
    color: var(--secondary);
    border-right-style: solid;
    font-size: 40px;
    padding-right: 30px;
}

/* Adds space between the elements inside a flexbox evenly  */
figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.big-flexbox {
    display: flex;
    min-height: 325px;
    width: 800px;
    margin: 10px;
}

.small-flexbox-1 {
    min-height: 250px;
    width: 300px;
    margin: 10px;
    margin-left: 40px;
   
}

.small-flexbox-2 {
    min-height: 250px;
    width: 300px;
    margin: 10px;
    margin-left: 40px;
}

.small-flexbox-3 {
    min-height: 250px;
    width: 300px;
    margin: 10px;
    margin-left: 40px;
}

.part-3 {
    display: flex;
    justify-content:space-between;
    padding: 20px 30px 25px 20px;
    background-color: gainsboro;
}

aside h6 {
    min-height: 50px;
    color: var(--secondary);
    border-right-style: solid;
    font-size: 40px;
    padding-right: 20px;
}

content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

content a {
    color: var(--secondary);
    text-decoration: underline;
    font-size: 25px;
    margin: 30px;
    justify-content: center;
    flex-direction: column;
}

content a:hover {
    color: #000;
}