:root {
    --primary:darksalmon;
    --secondary: indigo;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 20px 10px 20px 0px; 
    align-items: center;
}

header h1 {
    background-color: var(--secondary);
    padding: 20px 30px 20px 40px;
    color: var(--primary);
    font-size: 30px;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav a {
    color: var(--secondary);
    text-decoration: underline;
    font-size: 25px;
    margin: 30px;
}

section {
    display: flex;
    justify-content: right;
    background-image: url(https://d2slcw3kip6qmk.cloudfront.net/marketing/techblog/how-to-plan-a-programming-competition-header@2x.png);
    padding: 70px 20px 70px 20px;
}

section h2 {
    background-color: var(--secondary);
    padding: 10px 15px 10px 20px;
    color: var(--primary);
    font-size: 35px;
       
}






.footer p {
    text-align: center;
    
}

